@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: gray;
  border-color: #dc2626 transparent #991b1b transparent;
  border-radius: 50%;
}

.swiper-pagination-bullet {
  background: #fff !important;
  height: 9px;
  width: 9px;
}

.swiper-pagination-bullet:hover {
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: #dc2626 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #dc2626;
  transition: all 0.3s ease;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  color: #991b1b;
}

.swiper-controls {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.swiper-controls:hover {
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 500px) {
  .swiper-pagination-bullet {
    opacity: 0.9;
    background: rgba(0, 0, 0, 0.5);
  }

  .swiper-horizontal > .swiper-pagination-bullets {
    top: calc(5% - 18px) !important;
    right: 15px !important;
    left: auto !important;
    width: 20px !important;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    flex-direction: column;
  }

  .swiper-autoheight,
  .swiper-autoheight .swiper-slide {
    height: 100% !important;
  }
}
